@model Challenge.CashFlow.Models.Transaction

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
    List<SelectListItem> paymentTypes = new List<SelectListItem>();
    paymentTypes.Add(new SelectListItem
         {
             Text = "Credit Card",
             Value = "C"
         });
    paymentTypes.Add(new SelectListItem
         {
             Text = "Money",
             Value = "M",
             Selected = true
         });
                }
                @Html.DropDownListFor(model => model.PaymentType, paymentTypes, "Select one", new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.PaymentType)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
